.home-container {
  display: flex;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 80px;
}

@media screen and (min-width: 768px) {
  .home-content {
    align-items: flex-start;
  }
}

.home-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 32px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .home-heading {
    width: 50%;
    font-size: 60px;
  }
}

.home-description {
  font-family: 'Roboto';
  margin-top: 36px;
  font-size: 18px;
  line-height: 30px;
  color: #f1f5f9;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .home-description {
    width: 50%;
    font-size: 18px;
    margin-top: 0;
    text-align: left;
  }
}

.find-jobs-button {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 18px;
  padding-left: 18px;
  border-radius: 6px;
  background-color: #6366f1;
  margin-top: 40px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .find-jobs-button {
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 36px;
    padding-left: 36px;
  }
}
